<%- include('partials/_header') %>
<div class= "container" >
    <p align="right">
        <a href="/en" class="btn btn-secondary" align="right" >Inglés</a>
    </p>
</div>
<div class = "container">
    <div class = "row">
        <!--From-->
        <div class = "col-md-3">
            <div class="card">
                <div class = "card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name ="name" placeholder = "Nombre del producto" class = "form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name ="mark" placeholder = "Marca del producto" class = "form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name ="price" placeholder = "Ingrese un precio" class = "form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name ="category" placeholder = "Ingrese una categoría" class = "form-control">
                        </div>
                        <div class ="form-group">
                            <textarea name="description" cols="80" class="form-control" placeholder="Inserta una descripción"></textarea>
                        </div >
                        <div class = "offset-md-3">
                            <a href="/" class="btn btn-secondary">Atrás</a>
                            <button type = "Submit" class = "btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--List-->
        <div class = "col-md-9">
            <table class = "table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<tasks.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= tasks[i].name %></td>
                            <td><%= tasks[i].mark %></td>
                            <td><%= tasks[i].price %></td>
                            <td><%= tasks[i].category %></td>
                            <td><%= tasks[i].description %></td>
                            <td>
                                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>